/* -------------------------
フッター
------------------------- */
.footer {

    &__top {
        background: transparent url(../../../public/assets/img/pc/footer-bg.jpg) no-repeat center top / cover;
        position: relative;
        height: 180px;
        
        @include mq('md') {
            height: 340px;
        }

        &::before {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            
            @include mq('md') {
                outline: solid 6px rgba(255, 255, 255, .6);
                outline-offset: -21px;
            }
        }
    }

    &__container {
        width: 100%;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: rem(12);
        color: $color-text-white;
        text-shadow: 0 0 4px rgba(43, 43, 43, .8);
        
        @include mq('md') {
            font-size: rem(14);
        }
    }

    &__logo {
        width: 100px;
        margin: 0 auto;
        
        @include mq('md') {
            width: 200px;
        }
    }

    &__address {
        margin-top: 10px;
    }

    &__phone {
        &-link {
            text-decoration: none;
            color: $color-text-white;
        }
    }
    
    &__bottom {
        height: 50px;
        background-color: $color-bg-footer;
        @include z-index("footer");
        
        @include mq('md') {
            height: 60px;
        }
    }

    &__copyright {
        line-height: 50px;
        text-align: center;
        font-family: $font-family-point;
        font-size: rem(14);
        color: $color-text-white;
        
        @include mq('md') {
            line-height: 60px;
            font-size: rem(17);
        }
    }
}
